<section id="education">
    <div class="container">
        <header>
            <h2>Education</h2>
            <h3>My academic background</h3>
        </header>
        <div class="row">
            <div class="col-12">
                <div class="time-line">
                    <ul>
                        <li>
                            <div class="time-period">2009 - 2012</div>
                            <div class="job-position">Master's Degree in Computer Science</div>
                            <div class="company"><i class="fas fa-map-marker-alt"></i> University of Madeira</div>
                            <div class="description">Here I learned how to build large applications and apply concepts
                                like
                                UML, UX and
                                design patterns.</div>
                        </li>
                        <li>
                            <div class="time-period">2005 - 2009</div>
                            <div class="job-position">Bachelor's Degree in Computer Science</div>
                            <div class="company"><i class="fas fa-map-marker-alt"></i> University of Madeira</div>
                            <div class="description">Here I learned advanced concepts in Computer Science, especially in
                                Object Oriented
                                Programming (OOP).</div>
                        </li>
                        <li>
                            <div class="time-period">2003 - 2005</div>
                            <div class="job-position">School Degree in Programming</div>
                            <div class="company"><i class="fas fa-map-marker-alt"></i> Technical School</div>
                            <div class="description">With this degree I learned the basics of programming and how we can
                                build a website.</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>