<section id="about-me">
    <header>
        <h2>About Me</h2>
        <h3>I am Juan Jardim</h3>
    </header>
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="assets/me.jpg" class="img-fluid avatar " alt="Juan Jardim">
        </div>
        <div class="col-md-8">
            <div class="personal-info">
                <div class="row">
                    <div class="info col-md-6 col-xs-12">
                        <span class="detail">Full Name:</span>
                        <span>Juan Jardim</span>
                    </div>
                    <div class="info col-md-6 col-xs-12">
                        <span class="detail">Date of Birthday: </span>
                        <span>02 December 1987</span>
                    </div>
                </div>
                <div class="row">
                    <div class="info col-md-6 col-xs-12">
                        <span class="detail">LinkedIn:</span>
                        <span><a target="_blank" href="https://linkedin.com/in/juanjardim">linkedin.com/in/juanjardim</a></span>
                    </div>
                    <div class="info col-md-6 col-xs-12">
                        <span class="detail">GitHub: </span>
                        <span><a target="_blank" href="https://github.com/juanjardim">github.com/juanjardim</a></span>
                    </div>
                </div>
                <div class="row">
                    <div class="info col-md-6 col-xs-12">
                        <span class="detail">Email:</span>
                        <span><a href="mailto:juanjardim@hotmail.com?Subject=Hello, Juan">juanjardim@hotmail.com</a></span>
                    </div>
                    <div class="info col-md-6 col-xs-12">
                        <span class="detail">Job: </span>
                        <span>Web Developer</span>
                    </div>
                </div>
            </div>
            <div class="personal-description">
                <p>
                    I’m a Front End Developer in Lausanne - Switzerland. I have a Passion for Creating Clean, Beautiful, Minimalistic, Responsive
                    and User Friendly UI, Developed by Modular, Scalable and Functional Code. I possess excellent communication
                    skills and can liaise effectively with both clients and work colleagues. Other strong points include
                    an ability to work as part of a team or individually, multi-task, prioritize and work to deadlines under
                    pressure
                </p>
                <p>
                    <a href="assets/cv_Juan_Jardim.pdf" target="_blank" class="btn btn-lg resume" role="button">download resume</a>
                </p>
            </div>
        </div>
    </div>
</section>