h2,
h3 {
  text-transform: uppercase; }

h2 {
  font-size: 24px;
  color: #222; }

h3 {
  font-size: 18px;
  color: #a8a8a8; }

header {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: 15px;
  margin-bottom: 28px;
  border-bottom: 1px solid #e1e1e1;
  position: relative; }
  header h3 {
    margin-top: 10px; }
  header:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    background: #25274D;
    border-radius: 50%;
    bottom: 0;
    transform: translateY(50%); }

p {
  margin-bottom: 0px;
  color: text-color; }

nav {
  background-color: #2E9CCA; }
  nav .navbar-brand,
  nav .nav-link {
    color: white; }

footer {
  text-align: center;
  background-color: #29648A;
  color: white; }
  footer .contacts p {
    padding-top: 20px;
    padding-bottom: 20px; }
    footer .contacts p a {
      color: white; }

#about-me .avatar {
  height: 250px; }

#about-me .personal-info {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 30px;
  margin-bottom: 30px; }
  #about-me .personal-info .row {
    margin-bottom: 15px; }
  #about-me .personal-info span {
    color: #5a5a5a; }
  #about-me .personal-info .detail {
    color: #222; }
