$dark-primary-color: #3F51B5;
$default-primary-color: #303F9F;
$light-primary-color: #C5CAE9;
$text-primary-color: #FFFFFF;
$accent-color: #4CAF50;
$grey: #AAABB8;
$ocean-blue: #2E9CCA;
$green: #29648A;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color :#BDBDBD;
html,
body {
    line-height: 1.45rem;
    font-size: 16px;
}

h2,
h3 {
    text-transform: uppercase;
}

h2 {
    font-size: 24px;
    color: $primary-text-color;
}

h3 {
    font-size: 18px;
    color: $secondary-text-color;
}

header {
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: 15px;
    margin-bottom: 28px;
    border-bottom: 1px solid $divider-color;
    position: relative;
    h3 {
        margin-top: 10px;
    }
    &:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        background: $dark-primary-color;
        border-radius: 50%;
        bottom: 0;
        transform: translateY(50%);
    }
}

p {
    margin-bottom: 15px;
    color: text-color;
}

nav {
    background-color: $default-primary-color;
    .navbar-brand,
    .nav-link {
        color: $text-primary-color;
    }
}

footer {
    text-align: center;
    background-color: $dark-primary-color;
    color: $text-primary-color;
    .contacts {
        padding-top: 20px;
        padding-bottom: 20px;
        a {
            color: $text-primary-color;
        }
    }
}

#about-me {
    .avatar {
        height: 250px;
        margin: 0 auto;
        text-align: center;
    }
    .personal-info {
        border-bottom: 1px solid $divider-color;
        padding-bottom: 15px;
        margin-bottom: 30px;
        .info {
            margin-bottom: 15px;
        }
        span {
            color: $secondary-text-color;
            a {
                color: $secondary-text-color;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .detail {
            color: $primary-text-color;
        }
    }
    .personal-description {
        .resume {
            border-color: $secondary-text-color;
            text-transform: uppercase;
            font-size: 14px;
            color: $primary-text-color;
            border-radius: 2px;
            &:hover {
                border-color: $dark-primary-color;
                color: $dark-primary-color;
            }
        }
    }
}

@media (max-width: 736px) {
    #about-me {
        .personal-info {
            margin-top: 20px;
            padding-bottom: 20px;
        }
    }
}