$dark-primary-color: #3F51B5;
$default-primary-color: #3949AB;
$light-primary-color: #C5CAE9;
$text-primary-color: #FFFFFF;
$accent-color: #4CAF50;
$grey: #ECEFF1;
$ocean-blue: #2E9CCA;
$green: #29648A;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$border-color :#BDBDBD;
html,
body {
    line-height: 1.45rem;
    font-size: 16px;
}

h2,
h3 {
    text-transform: uppercase;
}

h2 {
    font-size: 24px;
    color: $primary-text-color;
}

h3 {
    font-size: 18px;
    color: $secondary-text-color;
}

header {
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: 15px;
    margin-bottom: 28px;
    border-bottom: 1px solid $border-color;
    position: relative;
    h3 {
        margin-top: 10px;
    }
    &:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        background: $dark-primary-color;
        border-radius: 50%;
        bottom: 0;
        transform: translateY(50%);
    }
}

p {
    margin-bottom: 15px;
    color: text-color;
}

nav {
    background-color: $default-primary-color;
    .navbar-brand {
        color: $text-primary-color;
    }
    .nav-item {
        .nav-link {
            color: $light-primary-color;
        }
        &.active {
            .nav-link {
                color: $text-primary-color;
            }
        }
    }
}

footer {
    text-align: center;
    background-color: $dark-primary-color;
    color: $text-primary-color;
    .contacts {
        padding-top: 20px;
        padding-bottom: 20px;
        a {
            color: $text-primary-color;
        }
    }
}

section {
    margin-bottom: 30px;
}

#about-me {
    .avatar {
        height: 250px;
        margin: 0 auto;
        text-align: center;
    }
    .personal-info {
        border-bottom: 1px solid $border-color;
        padding-bottom: 15px;
        margin-bottom: 30px;
        .info {
            margin-bottom: 15px;
        }
        span {
            color: $secondary-text-color;
            a {
                color: $secondary-text-color;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .detail {
            color: $primary-text-color;
        }
    }
    .personal-description {
        .resume {
            border-color: $secondary-text-color;
            text-transform: uppercase;
            font-size: 14px;
            color: $primary-text-color;
            border-radius: 2px;
            &:hover {
                border-color: $dark-primary-color;
                color: $dark-primary-color;
            }
        }
    }
}

#skills {
    padding-bottom: 70px;
    .sub-heading {
        background-color: $grey;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;
        vertical-align: middle;
        h3 {
            padding-bottom: 0;
            margin-bottom: 0;
            color: $primary-text-color;
            span {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                background-color: #fff;
                padding-top: 10px;
                margin-right: 10px;
                display: inline-block;
            }
        }
    }
    .education {
        .sub-heading {
            h3 {
                span {
                    padding-left: 9px;
                }
            }
        }
    }
    .work-experience {
        .sub-heading {
            h3 {
                span {
                    padding-left: 11px;
                    padding-top: 11px;
                }
            }
        }
    }
    .time-line {
        margin-top: 20px;
        ul {
            list-style: none;
            margin-bottom: 0px;
            padding-left: 0px;
            li {
                margin-bottom: 25px;
                margin-left: 25px;
                .time-period {
                    text-transform: uppercase;
                    color: $secondary-text-color;
                    font-size: 14px;
                    &:before {
                        position: absolute;
                        content: "";
                        height: 16px;
                        width: 16px;
                        border: 2px solid $dark-primary-color;
                        background-color: #fff;
                        border-radius: 50%;
                        left: 8px;
                        margin-top: 4px;
                    }
                }
                .job-position {
                    text-transform: uppercase;
                    color: $primary-text-color;
                    font-weight: 600;
                    margin-bottom: 15px;
                    margin-top: 5px;
                }
            }
            &:before {
                content: "";
                height: calc(100% - 110px);
                position: absolute;
                width: 1px;
                background-color: $border-color;
                margin-top: 10px;
            }
        }
    }
}

@media (max-width: 736px) {
    #about-me {
        .personal-info {
            margin-top: 20px;
            padding-bottom: 20px;
        }
        .personal-description {
            .resume {
                width: 100%;
                margin-top: 15px;
            }
        }
    }
    #skills {
        .time-line {
            ul {
                margin-bottom: 40px;
                &:before {
                    height: calc(100% - 140px);
                }
            }
        }
    }
}

@media screen and (min-width: 736px) {
    #skills {
        .education {
            padding-right: 0px;
        }
    }
}