<section id="services">
  <header>
    <h2>Services</h2>
    <h3>what i can do for you</h3>
  </header>
  <div class="row areas">
    <div class="col-md-4">
      <div class="row align-items-center">
        <div class="col-2"><i class="fa fa-file-code-o" aria-hidden="true"></i></div>
        <div class="col">
          <h3>Web Development</h3>
          <p>I am able to develop large websites including the Front and Back-end using different technologies.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row align-items-center">
        <div class="col-2"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></div>
        <div class="col">
          <h3>User Experience</h3>
          <p>I am able to deliver websites that meet the exact need of the customer and have the best Experience.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row align-items-center">
        <div class="col-2"><i class="fa fa-mobile" aria-hidden="true"></i></div>
        <div class="col">
          <h3>Responsive Design</h3>
          <p>I am able to deliver websites fully responsive and with the best performance for mobile. </p>
        </div>
      </div>
    </div>

  </div>
  <div class="salesforce">
    <h3>Salesforce Certifications</h3>
    <div class="row">
      <div class="col">
        <img class="salesforce-cert" src="assets/Administrator.png" alt="Salesforce Certified Administrator">
      </div>
      <div class="col">
        <img class="salesforce-cert" src="assets/PlatformDeveloper1.png"
          alt="Salesforce Certified Platform Developer I">
      </div>
      <div class="col">
        <img class="salesforce-cert" src="assets/PlatformAppBuilder.png"
          alt="Salesforce Certified Platform App Builder">
      </div>
      <div class="col">
        <img class="salesforce-cert" src="assets/SalesCloudConsultant.png"
          alt="Salesforce Certified Sales Cloud Consultant">
      </div>
      <div class="col">
        <img class="salesforce-cert" src="assets/SharingAndVisibilityDesigner.png"
          alt="Salesforce Certified Sharing and Visibility Designer">
      </div>
    </div>
  </div>

  <div class="technologies">
    <h3>Technologies and Framworks</h3>
    <div class="row">
      <div class="col">
        <div class="html5 logo"></div>
      </div>
      <div class="col">
        <div class="bootstrap logo"></div>
      </div>
      <div class="col">
        <div class="angular logo"></div>
      </div>
      <div class="col">
        <div class="node logo"></div>
      </div>
      <div class="col">
        <div class="net logo"></div>
      </div>
    </div>
  </div>



</section>