$dark-primary-color: #3f51b5;
$default-primary-color: #3949ab;
$light-primary-color: #c5cae9;
$text-primary-color: #ffffff;
$accent-color: #4caf50;
$grey: #eceff1;
$ocean-blue: #2e9cca;
$green: #29648a;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$border-color: #bdbdbd;

#services {
  padding-bottom: 50px;
  .areas {
    .fa {
      font-size: 60px;
    }
    h3 {
      font-size: 16px;
    }
  }
}

.salesforce {
  margin-top: 30px;
  padding-bottom: 70px;
  h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  .salesforce-cert {
    width: 90px;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
  }
}

.technologies {
  margin-top: 30px;
  padding-bottom: 80px;
  h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  .logo {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100px 100px;
    &.html5 {
      background-image: url("/assets/html.svg");
    }
    &.javascript {
      background-image: url("/assets/javascript.svg");
    }
    &.bootstrap {
      background-image: url("/assets/bootstrap.svg");
    }
    &.angular {
      background-image: url("/assets/angular.svg");
    }
    &.node {
      background-image: url("/assets/nodejs.svg");
    }
    &.net {
      background-image: url("/assets/net.svg");
    }
  }
}


.certification-image__container {
  width: 64px;
  height: 64px;
  margin-bottom: auto;
  margin-left: 0px;
  display: flex;
  justify-content: center;
}

.status {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  min-width: 18%;
 
}

.active-status {
  font-weight: bold;
  color:#008000
}

.actions_subtext {
  margin-bottom: 0px;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}

a {
  color: #3f51b5;
}