<section id="certifications">
    <header>
        <h2>Certifications</h2>
        <h3>Salesforce</h3>
    </header>
    <div class="salesforce">
        <div style="margin-left:20px; margin-right:20px">
            <div class="row">
                <div class="col-md-auto">
                    <img class="salesforce-cert" src="assets/SystemArchitect.png"
                        alt="Salesforce Certified System Architect">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-md-auto">
                            <h3>Salesforce Certified System Architect</h3>
                        </div>
                        <div class="col status">
                            <p class="actions_subtext active-status">Active</p>
                        </div>
                    </div>
                    <p>Issued Nov 2022 · Expires Nov 2025</p>
                    <p>Credential ID 23546738</p>
                    <a href="https://trailhead.salesforce.com/en/credentials/systemarchitect" target="_blank"
                        rel="noopener">Show credential</a>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-auto">
                    <img class="salesforce-cert" src="assets/ApplicationArchitect.png"
                        alt="Salesforce Certified Application Architect">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-md-auto">
                            <h3>Salesforce Certified Application Architect</h3>
                        </div>
                        <div class="col status">
                            <p class="actions_subtext active-status">Active</p>
                        </div>
                    </div>
                    <p>Issued Nov 2022 · Expires Nov 2025</p>
                    <p>Credential ID 23546737</p>
                    <a href="https://trailhead.salesforce.com/en/credentials/applicationarchitect" target="_blank"
                        rel="noopener">Show credential</a>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-auto">
                    <img class="salesforce-cert" src="assets/PlatformDeveloperII.png"
                        alt="Salesforce Certified Platform Developer II">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-md-auto">
                            <h3>Salesforce Certified Platform Developer II</h3>
                        </div>
                        <div class="col status">
                            <p class="actions_subtext active-status">Active</p>
                        </div>
                    </div>
                    <p>Issued Oct 2022 · Expires Oct 2024</p>
                    <p>Credential ID 23417033</p>
                    <a href="https://trailhead.salesforce.com/en/credentials/platformdeveloperii" target="_blank"
                        rel="noopener">Show credential</a>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-auto">
                    <img class="salesforce-cert" src="assets/JavaScriptDeveloperI.png"
                        alt="Salesforce Certified JavaScript Developer I">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-md-auto">
                            <h3>Salesforce Certified JavaScript Developer I</h3>
                        </div>
                        <div class="col status">
                            <p class="actions_subtext active-status">Active</p>
                        </div>
                    </div>
                    <p>Issued Sep 2022 · Expires Sep 2024</p>
                    <p>Credential ID 23300092</p>
                    <a href="https://trailhead.salesforce.com/en/credentials/javascriptdeveloperi" target="_blank"
                        rel="noopener">Show credential</a>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-auto">
                    <img class="salesforce-cert" src="assets/SharingandVisibilityArchitect.png"
                        alt="Salesforce Certified Sharing and Visibility Architect">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-md-auto">
                            <h3>Salesforce Certified Sharing and Visibility Architect</h3>
                        </div>
                        <div class="col status">
                            <p class="actions_subtext active-status">Active</p>
                        </div>
                    </div>
                    <p>Issued Aug 2022 · Expires Aug 2024</p>
                    <p>Credential ID 23183313</p>
                    <a href="https://trailhead.salesforce.com/en/credentials/sharingandvisibilityarchitect"
                        target="_blank" rel="noopener">Show credential</a>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-auto">
                    <img class="salesforce-cert" src="assets/DataArchitect.png"
                        alt="Salesforce Certified Data Architect">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-md-auto">
                            <h3>Salesforce Certified Data Architect</h3>
                        </div>
                        <div class="col status">
                            <p class="actions_subtext active-status">Active</p>
                        </div>
                    </div>
                    <p>Issued Aug 2022 · Expires Aug 2024</p>
                    <p>Credential ID 23183312</p>
                    <a href="https://trailhead.salesforce.com/en/credentials/dataarchitect" target="_blank"
                        rel="noopener">Show credential</a>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-auto">
                    <img class="salesforce-cert" src="assets/PlatformAppBuilder.png"
                        alt="Salesforce Certified Platform App Builder">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-md-auto">
                            <h3>Salesforce Certified Platform App Builder</h3>
                        </div>
                        <div class="col status">
                            <p class="actions_subtext active-status">Active</p>
                        </div>
                    </div>
                    <p>Issued May 2022 · Expires May 2024</p>
                    <p>Credential ID 22771092</p>
                    <a href="https://trailhead.salesforce.com/en/credentials/platformappbuilder" target="_blank"
                        rel="noopener">Show credential</a>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-auto">
                    <img class="salesforce-cert" src="assets/PlatformDeveloperI.png"
                        alt="Salesforce Certified Platform Developer I">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-md-auto">
                            <h3>Salesforce Certified Platform Developer I</h3>
                        </div>
                        <div class="col status">
                            <p class="actions_subtext active-status">Active</p>
                        </div>
                    </div>
                    <p>Issued Apr 2022 · Expires Apr 2024</p>
                    <p>Credential ID 22660859</p>
                    <a href="https://trailhead.salesforce.com/en/credentials/platformdeveloperi" target="_blank"
                        rel="noopener">Show credential</a>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-md-auto">
                    <img class="salesforce-cert" src="assets/Administrator.png"
                        alt="Salesforce Certified Administrator">
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-md-auto">
                            <h3>Salesforce Certified Administrator</h3>
                        </div>
                        <div class="col status">
                            <p class="actions_subtext active-status">Active</p>
                        </div>
                    </div>
                    <p>Issued Apr 2022 · Expires Apr 2024</p>
                    <p>Credential ID 22660858</p>
                    <a href="https://trailhead.salesforce.com/en/credentials/administrator" target="_blank"
                        rel="noopener">Show credential</a>
                </div>
            </div>
        </div>
    </div>
</section>