<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#">Juan Jardim - Salesforce Architect</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item" [class.active]="isActive('about-me')">
                    <a class="nav-link" href="#about-me" rel="noopener">About Me</a>
                </li>
                <li class="nav-item" [class.active]="isActive('experience')">
                    <a class="nav-link" href="#experience" rel="noopener">Experience</a>
                </li>
                <li class="nav-item" [class.active]="isActive('education')">
                    <a class="nav-link" href="#education" rel="noopener">Education</a>
                </li>
                <li class="nav-item" [class.active]="isActive('certifications')">
                    <a class="nav-link" href="#certifications" rel="noopener">Certifications</a>
                </li>
            </ul>
        </div>
    </div>

</nav>